<div class="row">
<h3 class="flow-text">Save your cards to a deck</h3>
        <div class="col s12 m6" ng-repeat="blob in currentLocalJSON">
          <div class="card teal lighten-5" ng-hide="blob{{$index}}">
            <div class="card-content grey-text text-darken-4">
              <span class="card-title">{{blob.left}}</span>
              <span class="card-title">{{blob.mid}}</span>
              <span class="card-title">{{blob.right}}</span>
          
  <div class="card-action">
              <!-- Dropdown Trigger -->
            <a href=""></a>
            <a class='dropdown-button btn teal lighten-3 right' href=''  data-activates='demoDropdown{{$index}}'> 
              <i class="material-icons right">call_made</i>
            </a>
            <!-- Dropdown Structure -->
            <ul id='demoDropdown{{$index}}' class='dropdown-content' >
            <li ng-repeat="deck in showMer"><a class="teal-text" href="" ng-click="saveThisCard(blob, deck)">{{deck.name}}</a></li>
            
            </ul>
  </div>
      </div>
          </div>
        

        </div>
      </div>
             