
<h3 class="flow-text center-align">Read your cards!</h3>

<div class="row">

 <div class="col s12 m6" ng-repeat="deck in showMe">


<div class="card small  teal lighten-5">
    <div class="card-image">
   
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
      <i class="material-icons right">toc</i>
      <br>
      {{deck.front}}....

      </span>

    </div>
    <div class="card-reveal cyan lighten-5">
      <span class="card-title grey-text text-darken-4">Answer<i class="material-icons right">close</i></span>
      <span class="card-title text darken 4">{{deck.back}}</span>
      <br>
      <br>
      <br>
      <a class="waves-effect waves-light btn right" ng-click="deleteIt(deck.id)">delete card</a>
    </div>
  </div>

  </div>
  <a class="waves-effect waves-light btn right" ng-click="deleteItAll(deckJunkId)">Burn it all down</a>

         
